@model KeukenhofV2.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
    var home = Model.HomeContent.ToList();
    var feature = Model.FeaturedContent.ToList();
    var card = Model.CardContent.ToList();
    var featureCounter = 0;
    var cardCounter = 0;
}

<div class="cover">
    <h1 class="cover-text">@home[7].Content</h1>
    <div class="cover-img">
        <div class="textbox white">
            <h4>@home[0].Content</h4>
            <label>@home[2].Content</label>
        </div>
        <div class="textbox orange">
            <h4>@home[3].Content</h4>
            <label>@home[4].Content</label>
        </div>
        <div id="hideWhenSmall" class="textbox white">
            <h4>@home[5].Content</h4>
            <label>@home[6].Content</label>
        </div>
    </div>
</div>
<div class="rectangle" style="height:421px; background:var(--orange-light)">
    <h3>Waar bent u naar opzoek?</h3>
    @for (var i = 0; i < Model.FeatureRows; i++)
    {
        <div class="row feature">
            @for (var j = 0; j < Model.FeatureColumns; j++)
            {
                <partial name="_FeaturedPartial" model="feature[j+featureCounter]" />
            }
        </div>
        featureCounter += 4; <!--zodat de loop elke keer de 4 volgende neemt-->
    }
</div>
<div class="rectangle" style="height:512px; background:var(--green-light)">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h2>Praktische informatie</h2>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <label style="float:right;"><a asp-controller="Praktisch" asp-action="Praktisch" />Meer praktische informatie</label>
        </div>
    </div>
    <partial name="_MiniFaqPartial" model="Model.MiniFaq" />
</div>
<div class="rectangle" style="height:498px; background:var(--orange-light)">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h3>Nieuws</h3>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <label style="float:right;"><a href="#"></a>Bekijk alles</label>
        </div>
    </div>
    @for (var i = 0; i < Model.CardRows; i++)
    {
        <div class="row">
            @for (var j = 0; j < Model.CardColumns; j++)
            {
                <partial name="_CardPartial" model="card[j+cardCounter]" />
            }
        </div>
        cardCounter += 4; <!--zodat de loop elke keer de 4 volgende neemt-->
    }
</div>
<div class="rectangle" style="height:528px; background: var(--green-background)">
    <div class="feature">
        <img src="~/images/P01Home/ctaImage.png" />
        <div class="rectangle">
            <h4>Groepen</h4>
        </div>
    </div>
</div>
<div class="rectangle" style="height:378px; background:var(--orange-light)">
    <h2>Instagram #VisitKeukenhof</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <img src="~/images/P01Home/instagram-1.png" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <img src="~/images/P01Home/instagram-2.png" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <img src="~/images/P01Home/instagram-3.png" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <img src="~/images/P01Home/instagram-4.png" />
        </div>
    </div>
</div>