@model List<BereikbaarheidContent>
@{
    ViewData["Title"] = "Bereikbaarheid";
}

<!DOCTYPE html>
<html lang="nl-nl">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#1").click(function () {
                $('html, body').animate({
                    scrollTop: $("#div1").offset().top
                }, 2000);
            });
        });

        $(document).ready(function () {
            $("#2").click(function () {
                $('html, body').animate({
                    scrollTop: $("#div2").offset().top
                }, 2000);
            });
        });

        $(document).ready(function () {
            $("#3").click(function () {
                $('html, body').animate({
                    scrollTop: $("#div3").offset().top
                }, 2000);
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <img class="hoofdfoto" src="~/images/P06Bereikbaarheid/bloemen.png" alt="Hoofdfoto" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-md-5 col-lg-5">
                <h1 class="toegankelijkheidoftitel" align="left" style="margin-left: -15%">@Model[0].Content</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-md-5 col-lg-5">
                <p class="evenementtextklein" align="left">@Model[1].Content</p>
            </div>
            <div class="col-xs-12 col-md-5 col-lg-5">
                <p class="evenementtextklein" align="left">@Model[2].Content</p>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-md-2 col-lg-2">
                <button class="videobutton">Reisplanner</button>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div style="background: #36454E; height: 64px" class="col-xs-12 col-md-12 col-lg-12">
                <div style="top: 22px; cursor:pointer" class="col-xs-12 col-md-2 col-lg-2"><a id="1" class="labeltext">@Model[3].Content</a></div>
                <div style="margin-left: -3%; top: 22px; cursor:pointer" class="col-xs-12 col-md-2 col-lg-2"><a id="2" class="labeltext">@Model[4].Content</a></div>
                <div style="margin-left: -5%; top: 22px; cursor:pointer" class="col-xs-12 col-md-2 col-lg-2"><a id="3" class="labeltext">@Model[5].Content</a></div>
            </div>
        </div>
        <div id="div1" class="row">
            <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-md-10 col-lg-10">
                <h2 class="kleinetitel">@Model[6].Content</h2>
                <p class="evenementtextklein" style="margin-top: 20px">@Model[7].Content</p>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: #E1EBE9; height: 525px">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 20px">
                <img style="width: 100%" src="~/images/P06Bereikbaarheid/ctaImage1.png" alt="Openbaar vervoer" />
                <div class="openbaarvervoerdownload">
                    <a href="~/images/P06Bereikbaarheid/openbaarvervoer.png" download>
                        <h5>@Model[8].Content</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: #FBDFD3">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 20px">
                <img style="width: 100%" src="~/images/P06Bereikbaarheid/ctaImage2.png" alt="Keukenhof" />
                <h5 class="kleinefototext">@Model[9].Content</h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="div2" class="row">
            <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-md-10 col-lg-10">
                <h2 class="kleinetitel">@Model[10].Content</h2>
                <p class="evenementtextklein">@Model[11].Content</p>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: #FBDFD3; height: 439px">
        <div class="row" style="margin-top: 20px">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <img style="width: 100%; height:375px" src="~/images/P06Bereikbaarheid/fietsen.png" alt="Fietsen" />
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="accordion">
                    <h5>@Model[12].Content</h5>
                    <div id="faq-text_1" class="faq-text">
                        @Model[13].Content
                    </div>
                </div>
                <div class="accordion">
                    <h5>@Model[14].Content</h5>
                    <div id="faq-text_1" class="faq-text">
                        @Model[15].Content
                    </div>
                </div>
                <div class="accordion">
                    <h5>@Model[16].Content</h5>
                    <div id="faq-text_1" class="faq-text">
                        @Model[17].Content
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div3" class="container" style="background: #E1EBE9">
        <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 20px">
            <img class="groepenfoto" src="~/images/P05Praktisch/bloemenveld.png" alt="Bloemenveld" />
            <label class="voorzieningfototext">@Model[18].Content</label>
        </div>
    </div>
</body>
</html>
