@model List<PrivacyContent>
@{
    ViewData["Title"] = "Privacy";
}
<article>
    <h1>@Model[0].Content</h1>
    <br />
    <p>@Model[1].Content
    <p>@Model[2].Content</p>
    <br />
    <p>@Model[3].Content</p>
    <br />
    <p>@Model[4].Content</p>
    <br />
    <p>@Model[5].Content</p>
    <br />
    <p>@Model[6].Content</p>
    <br />
    <p>@Model[7].Content</p>
    <p>@Model[8].Content</p>
    <br />
    <p>@Model[9].Content</p>
    <p>@Model[10].Content</p>
    <br />
    <p>@Model[11].Content</p>
    <p>@Model[12].Content</p>
    <br />
    <p>@Model[13].Content</p>
    <p>@Model[14].Content</p>
    <br />
    <p>@Model[15].Content</p>
    <p>@Model[16].Content</p>
    <br />
    <p>@Model[17].Content</p>
    <p>@Model[18].Content</p>
    <br />
    <p>@Model[19].Content</p>
    <p>@Model[20].Content</p>
    <br />
    <p>@Model[21].Content</p>
    <p>@Model[22].Content</p>
    <br />
    <h4>@Model[23].Content</h4>
    <br />
    <p>@Model[24].Content</p>
    <br />
    <p>@Model[25].Content</p>
    <p>@Model[26].Content</p>
    <br />
    <p>@Model[27].Content</p>
    <p>@Model[28].Content</p>
    <br />
    <p>@Model[29].Content</p>
    <br />
    <p>@Model[30].Content</p>
    <p>@Model[31].Content</p>
    <br />
    <p>@Model[32].Content</p>
    <p>@Model[33].Content</p>
    <br />
    <p>@Model[34].Content</p>
    <p>@Model[35].Content</p>
    <br />
    <p>@Model[36].Content</p>
    <br />
    <p>@Model[37].Content</p>
</article>