@model List<VeelgesteldeVragen>
@{
    ViewData["Title"] = "VeelgesteldeVragen";
}

<!DOCTYPE html>
<html lang="nl-nl">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#1").click(function () {
                $('html, body').animate({
                    scrollTop: $("#div1").offset().top
                }, 2000);
            });
        });

        $(document).ready(function () {
            $("#2").click(function () {
                $('html, body').animate({
                    scrollTop: $("#div2").offset().top
                }, 2000);
            });
        });

        $(document).ready(function () {
            $(".accordion h5").click(function () {
                var id = this.id;
                $(".accordion-content").each(function () {
                    if ($("#" + id).next()[0].id != this.id) {
                        $(this).slideUp("slow");
                    }
                });

                $(this).next().toggle("slow");
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <img class="hoofdfoto" src="~/images/VeelgesteldeVragen/Bloemen.png" alt="Bloemen" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-md-5 col-lg-5">

                <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[0].Id">
                    <h1 class="toegankelijkheidoftitel" align="left">@Model[0].Content</h1></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-md-5 col-lg-5">
                <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[1].Id">
                    <p class="evenementtextklein" align="left">@Model[1].Content</p></a>
            </div>
            <div class="col-xs-12 col-md-5 col-lg-5">
                <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[2].Id">
                    <p class="evenementtextklein" align="left">@Model[2].Content</p></a>
            </div>
        </div>
        <div class="row">
            <div style="background: #36454E; height: 64px" class="col-xs-12 col-md-12 col-lg-12">
                <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[3].Id">
                    <div style="left: 1.5%; top: 22px; cursor:pointer" class="colr-xs-12 col-md-1 col-lg-1"><a id="1" class="labeltext">@Model[3].Content</a></div></a>
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[4].Id">
                        <div style="left: 5.5%; top: 22px; cursor:pointer" class="colr-xs-12 col-md-1 col-lg-1"><a id="2" class="labeltext">@Model[4].Content</a></div></a>
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[5].Id"><div style="left: 7.5%; top: 22px; cursor:pointer" class="colr-xs-12 col-md-1 col-lg-1"><a id="3" class="labeltext">@Model[5].Content</a></div></a>
</div>
        </div>
    </div>
    <div class="container" style="background: #E1EBE9">
        <div id="div1" class="row">
            <div class="col-xs-12 col-md-3 col-lg-3">
                <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[6].Id">
                    <h2 class="kleinetitel">@Model[6].Content</h2></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[8].Id">
                        <h5>@Model[8].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[9].Id">
                            @Model[9].Content</a>
                    </div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[10].Id">
                        <h5>@Model[10].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[11].Id">
                            @Model[11].Content</a>
                    </div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[12].Id">
                        <h5>@Model[12].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[13].Id">
                            @Model[13].Content</a>
                    </div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[14].Id">
                        <h5>@Model[14].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[15].Id">
                            @Model[15].Content</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[16].Id">
                        <h5>@Model[16].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[17].Id">
                            @Model[17].Content</a>
                    </div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[18].Id">
                        <h5>@Model[18].Content</h5></a>
                        <div id="faq-text_1" class="faq-text"><a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[19].Id">

    @Model[19].Content</a>
</div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[20].Id">
                        <h5>@Model[20].Content</h5></a>
                        <div id="faq-text_1" class="faq-text">
                            <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[21].Id"> @Model[21].Content</a>
</div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[22].Id">
                        <h5>@Model[22].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[23].Id">
                            @Model[23].Content</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="div2" class="row">
            <div class="col-xs-12 col-md-3 col-lg-3">
                <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[7].Id">
                    <h2 class="kleinetitel">@Model[7].Content</h2></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[24].Id">
                        <h5>@Model[24].Content</h5></a>
                        <div id="faq-text_1" class="faq-text"><a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[25].Id">
    @Model[25].Content
</a>
                        </div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[26].Id">
                        <h5>@Model[26].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[27].Id">
                            @Model[27].Content</a>
                    </div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[28].Id">
                        <h5>@Model[28].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[29].Id">
                            @Model[29].Content</a>
                    </div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[30].Id">
                        <h5>@Model[30].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[31].Id">
                            @Model[31].Content</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[32].Id">
                        <h5>@Model[32].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[33].Id">
                            @Model[33].Content</a>
                    </div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[34].Id">
                        <h5>@Model[34].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[35].Id">
                            @Model[35].Content</a>
                    </div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[36].Id">
                        <h5>@Model[36].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[37].Id">
                            @Model[37].Content</a>
                    </div>
                </div>
                <div class="accordion">
                    <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[38].Id">
                        <h5>@Model[38].Content</h5></a>
                    <div id="faq-text_1" class="faq-text">
                        <a asp-controller="VeelgesteldeVragenContent" asp-action="Edit" asp-route-id="@Model[39].Id">
                            @Model[39].Content</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>