@model List<VeelgesteldeVragen>
@{ 
    ViewData["Title"] = "VeelgesteldeVragen";
}

<!DOCTYPE html>
<html lang="nl-nl">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#1").click(function () {
                $('html, body').animate({
                    scrollTop: $("#div1").offset().top
                }, 2000);
            });
        });

        $(document).ready(function () {
            $("#2").click(function () {
                $('html, body').animate({
                    scrollTop: $("#div2").offset().top
                }, 2000);
            });
        });

        $(document).ready(function () {
            $(".accordion h5").click(function () {
                var id = this.id;
                $(".accordion-content").each(function () {
                    if ($("#" + id).next()[0].id != this.id) {
                        $(this).slideUp("slow");
                    }
                });

                $(this).next().toggle("slow");
            });
        }); 
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <img class="hoofdfoto" src="~/images/VeelgesteldeVragen/Bloemen.png" alt="Bloemen" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-md-5 col-lg-5">
                <h1 class="toegankelijkheidoftitel" align="left">@Model[0].Content</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-md-5 col-lg-5">
                <p class="evenementtextklein" align="left">@Model[1].Content</p>
            </div>
            <div class="col-xs-12 col-md-5 col-lg-5">
                <p class="evenementtextklein" align="left">@Model[2].Content</p>
            </div>
        </div>
        <div class="row">
            <div style="background: #36454E; height: 64px" class="col-xs-12 col-md-12 col-lg-12">
                <div style="left: 1.5%; top: 22px; cursor:pointer" class="colr-xs-12 col-md-1 col-lg-1"><a id="1" class="labeltext">@Model[3].Content</a></div>
                <div style="left: 5.5%; top: 22px; cursor:pointer" class="colr-xs-12 col-md-1 col-lg-1"><a id="2" class="labeltext">@Model[4].Content</a></div>
                <div style="left: 7.5%; top: 22px; cursor:pointer" class="colr-xs-12 col-md-1 col-lg-1"><a id="3" class="labeltext">@Model[5].Content</a></div>
            </div>
        </div>
    </div>
    <div class="container" style="background: #E1EBE9">
        <div id="div1" class="row">
            <div class="col-xs-12 col-md-3 col-lg-3">
                <h2 class="kleinetitel">@Model[6].Content</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="accordion">
                    <h5>@Model[8].Content</h5>
                    <div id="faq-text_1" class="faq-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="accordion">
                    <h5>@Model[8].Content</h5>
                    <div id="faq-text_1" class="faq-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
            </div>
        </div>
        <div id="div2" class="row">
            <div class="col-xs-12 col-md-3 col-lg-3">
                <h2 class="kleinetitel">@Model[7].Content</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5 col-lg-5">

            </div>
            <div class="col-xs-12 col-md-5 col-lg-5">

            </div>
        </div>
    </div>
</body>
</html>