@model KeukenhofV2.ViewModel.ContactViewModel
@{
    ViewData["Title"] = "Contact";
    var contact = Model.ContactContent.ToList();
    var feature = Model.FeaturedContent.ToList();
    var miniFaq = Model.MiniFAQ;
}
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
<div class="alinea">
    <img src="~/images/P08Contact/cover.png" />
    <h1>@contact[0].Content</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p>@contact[1].Content</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p>@contact[2].Content<br />@contact[3].Content</p>
        </div>
    </div>
</div>
<div id="div2" class="container" style="background: var(--green-background)">
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-7">
            <h3 class="bereikbaarheidtitel">@contact[4].Content</h3>
        </div>
    </div>
    <div class="row">
        @foreach (var item in feature)
        {
            <partial name="_FeaturedPartial" model="item" />
        }
    </div>
</div>
<div class="container" style="background:var(--orange-light); height:500px">
    <div class="row">
        <h2>@contact[5].Content</h2>
        <partial name="_MiniFaqPartial" model="miniFaq" />
    </div>
</div>
