@model KeukenhofV2.ViewModel.ParkViewModel
@{
    ViewData["Title"] = "Park";
    var park = Model.ParkContent.ToList();
    var bezigheden = Model.Bezigheden.ToList();
    var evenementen = Model.Evenementen.ToList();
    var shows = Model.Bloemenshows.ToList();
}
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
<div class="alinea">
    <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[0].Id">
        <img src="@park[0].Content" />
    </a>
    <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[1].Id">
        <h1>@park[1].Content</h1>
    </a>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[2].Id">
                <p>@park[2].Content</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[3].Id">
                <p>@park[3].Content</p>
            </a>
        </div>
    </div>
    <button class="button green">@park[4].Content</button>
</div>
<div class="container">
    <div class="row" style="margin-top: 20px">
        <div style="background: #36454E; height: 64px" class="col-xs-12 col-md-12 col-lg-12">
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[5].Id">
                <div style="left: 1.5%; top: 22px; cursor:pointer" class="col-xs-12 col-md-1 col-lg-1"><a id="link1" class="labeltext">@park[5].Content</a></div>
            </a>
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[6].Id">
                <div style="left: 3.5%; top: 22px; cursor:pointer" class="col-xs-12 col-md-1 col-lg-1"><a id="link2" class="labeltext">@park[6].Content</a></div>
            </a>
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[7].Id">
                <div style="left: 7.5%; top: 22px; cursor:pointer" class="col-xs-12 col-md-1 col-lg-1"><a id="link3" class="labeltext">@park[7].Content</a></div>
            </a>
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[8].Id">
                <div style="left: 10.5%; top: 22px; cursor:pointer" class="col-xs-12 col-md-1 col-lg-1"><a id="link4" class="labeltext">@park[8].Content</a></div>
            </a>
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[9].Id">
                <div style="left: 10.5%; top: 22px; cursor:pointer" class="col-xs-12 col-md-1 col-lg-1"><a id="link5" class="labeltext">@park[9].Content</a></div>
            </a>
        </div>
    </div>
</div>
<div id="div1" class="container" style=" background:var(--orange-light);">
    <!-- bezigheden -->
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-7">
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[10].Id">
                <h2>@park[10].Content</h2>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-9">
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[11].Id">
                <p>@park[11].Content</p>
            </a>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-3">
                <div style="cursor:pointer" align="right"> <a class="labeltextzwart" asp-controller="Park" asp-action="Park">@park[12].Content</a></div>
        </div>
    </div>
    <div class="row feature">
        @for (var j = 0; j < Model.BezighedenColumns; j++)
        {
            <partial name="_CardPartial" model="bezigheden[j]" />
        }
    </div>
    <!-- bezigheden -->
</div>
<div id="div2" class="container" style="background: var(--green-background)">
    <!-- plattegrond download-->
    <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 20px; margin-bottom:20px;">
        <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[13].Id">
            <img class="groepenfoto" src="@park[13].Content" alt="Bloemenveld" />
        </a>
        <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[14].Id">
            <h4 class="voorzieningfototext download">@park[14].Content</h4>
        </a>
    </div>
    <!-- plattegrond download -->
</div>
<div id="div3" class="container" style="background:var(--orange-light);">
    <!-- evenementen -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[15].Id">
                <h2>@park[15].Content</h2>
            </a>
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[16].Id">
                <p>@park[16].Content</p>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div style="cursor:pointer;" align="right"> <a class="labeltextzwart" asp-controller="Evenementen" asp-action="Index">@park[17].Content</a></div>
        </div>
    </div>
    <div class="row feature">
        @for (var j = 0; j < Model.EvenementenColumns; j++)
        {
            <partial name="_CardPartial" model="evenementen[j]" />
        }
    </div>
    <!-- evenementen -->
</div>
<div id="div2" class="container" style="background: var(--green-background)">
    <!-- tulpomania -->
    <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 20px; margin-bottom:20px;">
        <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[18].Id">
            <img class="groepenfoto" src="@park[18].Content" alt="Tulpomania" />
        </a>
        <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[19].Id">
            <h4 class="voorzieningfototext">@park[19].Content</h4>
        </a>
    </div>
    <!-- tulpomania -->
</div>
<div id="div5" class="container" style=" background:var(--orange-light);">
    <!-- bloemenshows-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[20].Id">
                <h2>@park[20].Content</h2>
            </a>
            <a asp-controller="HomeContent" asp-action="Edit" asp-route-id="@park[21].Id">
                <p>@park[21].Content</p>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div style="cursor:pointer;" align="right"> <a class="labeltextzwart" asp-controller="Evenementen" asp-action="Bloemenfestival">@park[22].Content</a></div>
        </div>
    </div>
    <div class="row feature">
        @for (var j = 0; j < Model.BloemenshowsColumns; j++)
        {
            <partial name="_CardPartial" model="shows[j]" />
        }
    </div>
    <!-- bloemenshows-->
</div>
