@model IEnumerable<KeukenhofV2.Models.EditPagesModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_LoginPartial" />
<h2>Pagina bewerking</h2>

<p>
    <a asp-controller="Home"  asp-action="Edit">Keer terug naar Homepagina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Controller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @if (item.Name == "Card Content")
                {
                    <a asp-controller="@item.Controller" asp-action="Index">Edit</a>
                }
                else
                {
                    <a asp-controller="@item.Controller" asp-action="Edit">Edit</a>
                }
                |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
